@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background: #E5E5E5;
    height: 100%;
    width: 100%;
}

.logo {
    margin-top: 25px;
}

.panelPrincipal {

    width: 820px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.panelPrincipal input {
    margin-top: 45px;
    width: 600px;
    background: none;
    border: 0;
    color: #0A3871;
    font-size: 30px;
}

.panelPrincipal input::placeholder {
    color: #0A3871;
}

#btnEncriptar {
    /* Auto layout */
    border: none;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;

    width: 328px;
    height: 67px;

    /* Dark blue/dark-blue-300 */

    background: #0A3871;
    border-radius: 24px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    color: #fff;

    font-size: 20px;
}

#btnEncriptar:hover {
    background: #064592;
    cursor: pointer;
    transition: 0.8s;
}

#btnDesencriptar {
    /* Auto layout */
    border: none;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;

    width: 328px;
    height: 67px;

    /* Dark blue/dark-blue-300 */

    background: #fff;
    border-radius: 24px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    color: #0A3871;
    border: 1px solid #0A3871;
    font-size: 20px;
}

#btnDesencriptar:hover {
    background: #0A3871;
    color: #fff;
    cursor: pointer;
    transition: 0.8s;
}

.panelPrincipal div div {
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-left: 5px;
}

.panelPrincipal div div span {
    margin: 5px;
}

section {
    display: flex;
    justify-content: space-around;
}

.panelSecundario {
    padding: 20px;
    background: #fff;
    width: 380px;
    height: 780px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.subtitulo {
    margin-top: 25px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
}

.descripcion {
    margin-top: 15px;
    text-align: center;
}

.hidden-s {
    visibility: hidden;
}

.respuesta {
    background: transparent;
    border: 0;
    color: #0A3871;
    font-size: 25px;
}
.respuesta:focus{
    outline: none;
}

.btnCopiar {

    border: none;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #fff;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    color: #0A3871;
    border: 1px solid #0A3871;
    font-size: 20px;
}
.btnCopiar:hover{
    background: #0A3871;
    color: #fff;
    cursor: pointer;
    transition: 0.8s;
}